# Dependencies
node_modules

# Build output
dist
dist-ssr
build

# Environment
.env
.env.local
*.local

# Cache
.cache
.next
.vercel

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store

# Local Netlify folder
.netlify
